.about {
  margin: 4rem 6rem;
    border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 30px;
  height: 34rem;
}

.about h1 {
  font-size: 3rem;
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  text-align: center;
}

.first-des p {
  text-align: center;
}

.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.image {
  position: relative;
  /* position: absolute;  */
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 850px) {
  .about {
    margin: 4rem 2rem;
    height: 50rem;
  }

  .first-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .des-text{
    width: 100%;
  }
  .des-text p{
    padding: 20px;
  }

  .image{
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img{
    height: 250px;
  }
}
